// Core Colors
$primary: #003f5a;     // Deep teal for titles/links
$secondary: #de6600;   // Orange for interactive elements
$border: #8ab184;   	// Orange for interactive elements
$accent: #de6600;   // Orange for interactive elements

$bg: white;         // Mint background
$text: #003f5a;        // Teal text (or #000 for better contrast)
